html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(27, 27, 27);
  color: white;
}

.outputs {
  font-size: 3rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nameS {
  font-size: 3rem;
  color: rgb(236, 142, 0);
  margin-bottom: -10px;
  font-weight: 500;
}

label {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

output {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#description {
  font-size: 2rem;
  font-style: italic;
}

#containerD {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 4px solid red;
}

#containerS {
  border-bottom: 2px solid rgb(61, 61, 61);
}

#containerR {
  border-bottom: 2px solid rgb(61, 61, 61);
}

.input-group .input-group-text {
    color: black;
    font-size: 1.5rem;
}

.resultT {
    font-size: 2rem;
    margin-bottom: -10px;
}
